.header{
    width: 100%;
    background-color: var(--body-color);
    position: fixed;
    top: 0;left: 0;
    z-index: var(--z-fixed);
    transition: .5s;
}
.nav{
    height:var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__compt{
        display: flex;
        &-login{
            flex:1;
            display: inline-block;
            margin-right:10px;
            padding:5px 10px;
        }
        &-signup{
            padding:5px 14px;
            border-radius: 6px;
            color:#fff;
            background-color: black;
        }
    }
    &__menu{
        @media screen and (max-width:767px){///834px
            position: fixed;
            background-color: var(--container-color);
            box-shadow: 0 0 4px rgba(0,0,0,.1) ;
            padding:2.5rem 0;
            width:90%;
            top:-100%;left:0;
            right:0;margin:0 auto;
            transition: .4s;
            border-radius: 2rem;
            z-index: var(--z-fixed);
        }
    }
    &__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 1.5rem;
    }
    &__link,
    &__logo,
    &__toggle{
        color:var(--title-color);
        font-weight: var(--font-semi-bold);
    }
    &__toggle{
        font-size: 1.3rem;
        cursor: pointer;
    }
}
/*Show menu*/
.show-menu{
    top:calc(var(--header-height) + 1rem);//4rem
}