.home{
    &__container{
        display: flex;
        margin-top:130px;
        height:330px;
        padding:30px;
        background-color:#000;
        border-radius: 6px;
        @media screen and (max-width:900px){
            margin-top: 90px;
            height:290px;
            padding:25px;
        }
        @media screen and (max-width:350px){
            margin-top: 90px;
            height:320px;
            padding:10px;
        }
        @media screen and (max-width:290px){
            margin-top: 90px;
            height:350px;
            padding:5px;
        }
    }
    &__data{
        @media screen and (max-width:900px){
            width:100%;
            padding:10px;
            font-size:13px;
        }
        
        font-size:16px;
        font-weight: var(--font-bold);
        margin-bottom: var(--mb-0-75);
        width: 50%;
        padding:25px;
        height:100%;
        color:#fff;
        h1{color:#fff;}
        p{
            font-size: 13px;
            font-weight: normal;
        }
        .buttons{
            margin-top: 15px;
            height:50px;
            display: flex;align-items: center;
            
            .button-search{
                width:55%;
                margin-right: 10px;
                height:85%;
                position: relative;
                @media screen and (max-width:500px){
                    width: 95%;
                    margin: auto;
                }
                input{
                    width:100%;height:100%;
                    padding:0 20px;outline: none;
                    @media screen and (max-width:500px){
                        padding:20px;
                    }
                }
                i{
                    position:absolute;
                    top:50%;transform: translateY(-50%);
                    color:gray;
                }
                .search{left:5px;}
                .arrow{right:5px;}
            }
            .button-linear{
                height:85%;width:30%;font-size: 11px;
                border:none;border-radius: 6px;
                outline: none;
                background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(215,147,21,1) 0%, rgba(255,21,172,1) 39%, rgba(206,59,188,1) 71%, rgba(156,96,204,1) 100%, rgba(181,77,196,1) 100%, rgba(140,108,209,1) 100%, rgba(82,151,228,1) 100%, rgba(0,212,255,1) 100%);
                color:#fff;
                cursor: pointer;
                @media screen and (max-width:1024px){
                    width:35%
                }
                @media screen and (max-width:850px){
                    width:40%
                }
                @media screen and (max-width:500px){
                    margin-top: 10px;
                    padding:10px;
                }
                @media screen and (max-width:456px){
                    width: 60%;
                }
                @media screen and (max-width:350px){
                    width: 80%;
                }
                @media screen and (max-width:290px){
                    width: 95%;
                }
            }
            @media screen and (max-width:500px){
                flex-direction: column;
            }


        }
    }
    &__cat{
        @media screen and (max-width:900px){
            display: none;
        }
        width: 50%;
        position:relative;
        img{
            z-index:10;
            position: absolute;
            top:-90px;
            width:60%;height:150%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}